# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
*.pyc


# misc
.coverage
.vscode
coverage.xml
.ruff_cache
visualize_graph.py


# Home Assistant configuration
config/*
#!config/configuration.yaml